body {
	background-color: rgb(244, 242, 243);
	cursor: url(./pictures/cursor_closed.png);
	margin: 0;
	padding: 0;
 }
 
.navLeiste {
	position: fixed;
	height: 100px;
	width: 90%;
	left: 5%;
	top: 2%;
 }

.navLeiste a {
  	display: block;
  	height: 100%;
  	width: 25%;
  	float: left;
  	border: 1px solid grey;
  	background-color: lightgreen;
  	border: 0.1px solid blue;
}

.content {
	overflow: auto;
	position: absolute;
	padding: 110px 10px;
	text-align: center;
 }

#home_button {
	height: 100px;
	width: 100px;
 }
