@import url("general_settings.css");

.content  h1 {
	font-size: 1em;
	margin-top: 0;
}

.content textarea {
	width: 20em;
	height: 15em;
	border: 1px dotted lightgrey;
	border-radius: 5px;
	font-family: inherit;
}

.content fieldset {
	width: 30%;
	height: auto;
	margin: 0 auto;
	border: none;
}

.content form button {
	width: 25%;
	height: 5%;
	border-radius: 5px;
	box-shadow: 3px 4px rgb(240, 240, 240);
}
