@import url("general_settings.css");

#back {
    display: block;
    float: left;
}
iframe {
    clear: left;
    display: block;
    box-sizing: border-box;
    overflow: auto;
	height: 35em;
    width: 35em;
	border: none;
}
