@import url("general_settings.css");

#back {
    display: block;
    float: left;
}

iframe {
    clear: left;
    float: left;
    display: block;
    box-sizing: border-box;
    overflow: auto;
    height: 40em;
    width: 31em;
    border: none;
    margin: 0;
}

#infotext {
    text-align: left;
}

h1 {
    text-align: left;
    width: 100%;
}
