@import url("general_settings.css");

td {
    box-sizing: border-box;
	height: 10em;
	width: 10em;
    margin: 0.5em;
}

td img {
    width: 10em;
    height: 10em;
}

img:hover {
	display: table;
    box-sizing: border-box;
    border: 4px dotted lightgrey;
    border-radius: 1px;
    width: 10em;
    height: 10em;
}

img:active {
	margin: 1em;
}

table {
    width: 33em;
    height: 33em;
    border-spacing: 0.1em;
    border-collapse: separate;
    padding-top: 1em;
}
