@import url("general_settings.css");

td {
	box-sizing: border-box;
	height: 10em;
	width: 10em;
	margin: 5%;
}

td img {
	width: 100%;
	height: 100%;
}

img:hover {
	border: 2px solid lightgrey;
}

img:active {
	width: 90%;
	height: 90%;
}
